.liked-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efeeee;
    height: 30px;

    .label-color {
        position: absolute;
        width: 5px;
        height: 30px;
        background-color: rgb(222, 111, 33);
    }

    p {
        padding-inline-start: 10px;
        font-size: .6em;
    }

    button {
        margin: 10px;
        border: none;
        background-color: inherit;
        opacity: .7;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}