body {
    background-color: rgb(192, 192, 193);
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #a8a7a7;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}